.login {
    margin-left: 30%;
    margin-top: 100px;
}

.input-box {
    padding: 7px;
    display: block;
    border: 1px solid skyblue;
    width: 300px;
    margin: 20px;
}
.login-btn {
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: skyblue;
    border: 1px solid;
    cursor: pointer;
}