.nav-ul {
    padding: 5px;
    margin: 0;
    background-color: skyblue;
}
.nav-ul li{
    display: inline-block;
    padding: 10px;
}

.nav-ul li a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.nav-right {
    text-align: right;
}

.logo {
    width: 45px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 20px;
}